<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">

    <p id="notice"><%= notice %></p>

    <h1>Articles</h1>

  </div>

  <div class="panel-body">

    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.description %></td>
            <td><%= link_to 'Show', article, class: 'form-control' %></td>
            <td><%= link_to 'Edit', edit_article_path(article), class: 'form-control' %></td>
            <td><%= link_to 'Destroy', article, class: 'form-control', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>

  <div class="panel-footer">

    <%= link_to 'New Article', new_article_path, class: 'btn btn-default' %>

  </div>
</div>
</div>
